.weather-card {
  width: 150px;
  padding: 20px;
  text-align: center;
  background: #f3f3f3;
  border-radius: 15px;        /* rounded */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.weather-card:hover {
  transform: scale(1.18);    /* expands the box */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
